numpy==1.13.1
matplotlib==2.0.2 
cython==0.25.2
scipy==1.1.0
----------------------------------------------------
# For numerical integration
odespy
https://github.com/rajeshrinet/odespy
----------------------------------------------------
# Data
h5py
pip install h5py
----------------------------------------------------
# For data viewer
pyqtgraph
qtpy (PyQt package)
cmocean
